.TopLogo {
  display: flex;
  font-weight: 800;
  flex-wrap: wrap;
  justify-content: center;
  width: 20vw;
}
.logo {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 30px;
  
  font-size: 25px;
  /* padding-left: 10px;
  padding-right: 10px; */
}

.TopSearchBarContent {
  display: flex;
  justify-content: center;
  width: 70vw;
}

.TopSearchBar {
  display: flex;

  justify-content: center;
}

.TopSideBarContent {
  display: flex;
  justify-content: end;
  width: 10vw;
  border-radius: 10px;
}

.TopSideBar {
  display: flex;
  justify-content: flex-end;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 10vh;
  margin-right: 20px;
  margin-left: 20px;

  justify-content: space-between;
  /* padding: 0 10px 0 10px; */
}

.Watchtrailer {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
